<app-navbar></app-navbar>

 <div class="container">
  <div class="text-center mt-5">
    <h3>Home page</h3>

    <div class=" mt-5">
      <div class="">
        <div class="col-sm-4">
          <h2>About Me</h2>
          <h5>Photo of me:</h5>

         

          <div >
            <img src="../../assets/images/4.jpg" alt="" width="400px" height="400px">

            <div class="text-lg-start text-nowrap" style="width: 10rem;" >
              <p>I am an enthusiastic, self-motivated, reliable, responsible and hard working person. <br> 
                I am a mature team worker and adaptable to all challenging situations. <br>
                I am able to work well both in a team environment as well as using own initiative. <br>
                 I am able to work well under pressure and adhere to strict deadlines.</p>

            </div>
          

          </div>
        

        

         
       
        </div>
       
      </div>
    </div>

   







   </div>
</div> 




